# Binaries for programs and plugins
/.idea
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# binaries kind and kubectl from make are in bin
bin
# from make create-cluster.  We don't store these.
go.mod
go.sum
kubeconfig
.kube
artifacts/

# OSX files
.DS_Store

# tarballs
*.tgz
