apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Name }}
  namespace: {{ .Namespace }}
  labels:
    app: confluent-schema-registry
spec:
  replicas: {{ .Params.NODE_COUNT }}
  selector:
    matchLabels:
      app: confluent-schema-registry
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: confluent-schema-registry
    spec:
      containers:
      - name: confluent-schema-registry
        image: confluentinc/cp-schema-registry:5.3.2
        command:
          - bash
          - -c
        args:
          - /bootstrap/bootstrap.sh;
        resources:
          requests:
            memory: {{ .Params.MEMORY }}
            cpu: {{ .Params.CPUS }}
          limits:
            memory: {{ .Params.MEM_LIMIT }}
            cpu: {{ .Params.CPUS_LIMIT }}
        ports:
        - containerPort: {{ .Params.SCHEMA_REGISTRY_PORT }}
          name: sr-port
        env:
        - name: SCHEMA_REGISTRY_HOST_NAME
          value: {{ .Params.HOST_NAME }}
        - name: SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS
          value: {{ .Params.KAFKA_BOOTSTRAP_SERVERS }}
        - name: SCHEMA_REGISTRY_KAFKASTORE_SECURITY_PROTOCOL
          value: "SSL"
        - name: SCHEMA_REGISTRY_KAFKASTORE_SSL_TRUSTSTORE_LOCATION
          value: "/tmp/kafka/tls/kafka.client.truststore.jks"
        - name: SCHEMA_REGISTRY_KAFKASTORE_SSL_TRUSTSTORE_PASSWORD
          value: "changeit"
        - name: SCHEMA_REGISTRY_KAFKASTORE_SSL_KEYSTORE_LOCATION
          value: "/tmp/kafka/tls/kafka.client.keystore.jks"
        - name: SCHEMA_REGISTRY_KAFKASTORE_SSL_KEYSTORE_PASSWORD
          value: "changeit"
        - name: SCHEMA_REGISTRY_KAFKASTORE_SSL_KEY_PASSWORD
          value: "changeit"
        volumeMounts:
        - name: bootstrap
          mountPath: /bootstrap
        {{ if .Params.CUSTOM_SR_PROPERTIES_CM_NAME }}
        - name: custom-configuration
          mountPath: /custom-configuration
        {{ end }}
        {{ if eq .Params.TRANSPORT_ENCRYPTION_ENABLED "true" }}
        - name: kafka-tls
          mountPath: /etc/tls/certs
        - name: enable-tls
          mountPath: /etc/tls/bin
        {{ end }}
        livenessProbe:
          initialDelaySeconds: {{ .Params.LIVENESS_INITIAL_DELAY_SECONDS }}
          periodSeconds: {{ .Params.LIVENESS_PERIOD_SECONDS }}
          timeoutSeconds: {{ .Params.LIVENESS_TIMEOUT_SECONDS }}
          httpGet:
            path: /
            port: {{ .Params.SCHEMA_REGISTRY_PORT }}
      volumes:
        - name: bootstrap
          configMap:
            name: {{ .Name }}-bootstrap
            defaultMode: 0755
        {{ if .Params.CUSTOM_SR_PROPERTIES_CM_NAME }}
        - name: custom-configuration
          configMap:
            name: {{ .Params.CUSTOM_SR_PROPERTIES_CM_NAME }}
        {{ end }}
        {{ if eq .Params.TRANSPORT_ENCRYPTION_ENABLED "true" }}
        - name: kafka-tls
          secret:
            secretName: {{ .Params.TLS_SECRET_NAME }}
        - name: enable-tls
          configMap:
            name:  {{ .Name }}-enable-tls
            defaultMode: 0777
        {{ end }}
